<div class="container">
  <div class="row">
    <h1>Taco-Tracker!</h1>  
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Available Tacos</h2>

      <ul>
        {{#each tacos}}
          {{#if devoured}}
            {{> tacos/taco-block devoured=false}}
          {{/if}}
        {{/each}}
      </ul>
    </div>

    <div class="col-md-4">
      <img src="./assets/img/taco.png" alt="taco">
    </div>

    <div class="col-md-4">
      <h2>Eaten Tacos</h2>

      <ul>
        {{#each tacos}}
          {{#unless devoured}}
            {{> tacos/taco-block devoured=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class="form-container">
  <h2>Add a Taco</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">Taco Name:</label>
      <input type="text" id="tacoName">
    </div>

    <button class="create-form submit" type="submit">Add Taco</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery.js"></script>

<script>
   $(".create-form").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
    var newTaco = {
      taco_name: $("#tacoName").val().trim()
    };
    console.log(newTaco);
    // Send the POST request.
    $.ajax("/api/tacos", {
      type: "POST",
      data: newTaco
    }).then(
      function () {
        console.log("added a new taco!");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
  $(".change-devour").click(function (event) {
    var updateEaten = {
      devoured: true
    };
    var id = $(this).attr("id");
    console.log(id);
    // Send the PUT request.
    $.ajax("/api/tacos/" + id, {
      type: "PUT",
      data: updateEaten
    }).then(
      function () {
        console.log("taco has been eaten!");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>