body {
  background-color: orange !important;
}

.col-md-4 {
  background-color: white !important;
  border: solid black 2px;
  align-items: center;
}

.container {
  font-family: 'Roboto', sans-serif;
}

.form-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 48px !important;
}

h2 {
  text-align: center;
}