.container {
  font-family: 'Roboto', sans-serif;
}

.form-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  text-align: center;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

img {
  width: 75%;
  height: 75%;
  border-radius: 100%;
}

h1, h2 {
  text-align: center;
}